
{% extends 'admin_base.html' %}
{% load static %}


{% block content %}

      


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-User fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">User</p>
                                <h6 class="mb-0">{{user}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-Book fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Course</p>
                                <h6 class="mb-0">{{cou}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">₹ {{ pay  }}</h6>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Pie Chart</h6>
                            Course Enrolling
                            <canvas id="pie-chart"></canvas>
                        </div>
                    </div>


                    <script>
                        // Pie Chart
                        var ctx5 = $("#pie-chart").get(0).getContext("2d");
                        var myChart5 = new Chart(ctx5, {
                            type: "pie",
                            data: {
                                labels: [{% for course_data in courses_data %}"{{ course_data.course_name }}",{% endfor %}],
                                datasets: [{
                                    backgroundColor: [
                                        "rgba(0, 156, 255, .7)",
                                        "rgba(0, 156, 255, .6)",
                                        "rgba(0, 156, 255, .5)",
                                        "rgba(0, 156, 255, .4)",
                                        "rgba(0, 156, 255, .3)"
                                    ],
                                    data: [{% for course_data in courses_data %}{{ course_data.num_payments }},{% endfor %}]
                                }]
                            },
                            options: {
                                responsive: true
                            }
                        });
                    </script>
                    
          
 {% endblock %}


          