{% extends 'basee.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<br>
<br>

  <!-- NAVBAR
    ================================================== -->
    <header class="bg-white border-bottom py-3 header-fixed" >
        <div class="px-5 px-lg-8 w-100">
            <div class="d-md-flex align-items-center">
                <!-- Brand -->
                <a class="navbar-brand" href="{% url 'Homee' %}">
                    <h1 class="m-0"><i class="fa fa-book me-2"></i>E<span class="fs-5">Master</span></h1>
                </a>

                <!-- Lesson Title -->
                <div class="mx-auto mb-5 mb-md-0">
                    <h3 class="mb-0 line-clamp-2 text-black">{{ course_instance.course_name }}</h3>
                </div>

                <!-- Back to Course -->
                <a href="{% url 'course_single' course_instance.course_id %}" class="btn btn-sm btn-dark ms-md-6 px-6 mb-3 mb-md-0 flex-shrink-0">Back to Course</a>
            </div>
        </div>
    </header>

    <div class="container container-wd">
        <h2>Week {{ questions.0.week }} Assessment</h2>
        <form method="post" action="{% url 'submit_assessment' course_instance.course_id week=questions.0.week %}">
            {% csrf_token %}
            <input type="hidden" name="course_id" value="{{ course_instance.course_id }}">
            <input type="hidden" name="week" value="{{ week }}">
            {% for question in questions %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ forloop.counter }}: {{ question.question }}</h5>
    
                        {% for i in "12345" %}
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="question_{{ question.id }}" value="{{ i }}" id="option{{ i }}_{{ question.id }}" onclick="updateAnswerColor('{{ question.id }}', {{ i }}, {{ question.correct_answer }})">
                                <label id="answer_{{ question.id }}_{{ i }}" class="form-check-label" for="option{{ i }}_{{ question.id }}">{{ question|get_option:i }}</label>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
    
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
        <!-- {% if show_results %}
            <h2>Results:</h2>
            {% for question, result in results.items %}
                <p>
                    {{ question.question }}<br>
                    Selected Answer: {{ result.selected_answer }}<br>
                    Correct Answer: {{ result.correct_answer }}<br>
                    {% if result.is_correct %}
                        <span style="color: green;">Correct!</span>
                    {% else %}
                        <span style="color: red;">Incorrect!</span>
                    {% endif %}
                </p>
            {% endfor %}
            <p>Final Mark Percentage: {{ final_percentage }}%</p>
        {% endif %} -->
    </div>
    {% endblock %}