<!DOCTYPE html>
	{% load static %}
	<html lang="en">
	<head>
		<title>Reset Password</title>
		<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css'%}">
		<link rel="stylesheet" href="{% static 'css/style.css'%}">


        <script type="text/javascript">
            function resetValidate() {
                var val = document.getElementById('pass').value;
                if (val == "") {
                    document.getElementById('pass').textContent = "**Password can't be null!!";
                    return false;
                } else {
                    document.getElementById('pass').textContent = "";
                }

                if (!val.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/)) {
                    document.getElementById('pass').textContent = "**Must contain at least one number and one uppercase and lowercase letter and at least 5 characters";
                    return false;
                } else {
                    document.getElementById('pass').textContent = "";
                }

                var val = document.getElementById('repass').value;
                if (val == "") {
                    document.getElementById('repass').textContent = "**Password can't be null!!";
                    return false;
                } else {
                    document.getElementById('repass').textContent = "";
                }

                if (val != document.getElementById('pass').value) {
                    document.getElementById('repass').textContent = "**Passwords should be matching";
                    return false;
                } else {
                    document.getElementById('repass').textContent = "";
                }
            }

            function passwordValidation(inputTxt) {
                var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}/;
                var textField = document.getElementById("pass");

                if (inputTxt.value != '') {
                    if (inputTxt.value.match(regx)) {
                        textField.textContent = '';
                        textField.style.color = "green";
                    } else {
                        textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and at least 5 characters';
                        textField.style.color = "red";
                    }
                } else {
                    textField.textContent = '**Password cannot be null!!';
                    textField.style.color = "red";
                }
            }

            function cpasswordValidation(inputTxt) {
                var regx = document.getElementById("repass").value;
                var regy = document.getElementById("pass").value;
                var textField = document.getElementById("repass");

                if (inputTxt.value != '') {
                    if (regx == regy) {
                        textField.textContent = '';
                        textField.style.color = "green";
                    } else {
                        textField.textContent = '**Password should be matching';
                        textField.style.color = "red";
                    }
                } else {
                    textField.textContent = '**Password cannot be null!!';
                    textField.style.color = "red";
                }
            }
        </script>

</head>
    <body>
        <div class="main">
            <!-- Sing in  Form --> 
            <section class="sign-in">
                {% include 'alert.html' %}
                        <script>
                            setTimeout(function(){
                            if ($('#msg').length > 0){
                                $('#msg').remove();
                                }
                            },2900)
                        </script>
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="{% static 'images/regimg.jpg'%}" alt="sing up image"></figure>
                        </div>
                        <div class="signin-form">
                            <h1 class="form-title">Reset Password</h1>
                            <form  class="register-form" onsubmit="return resetValidate()" action="{% url 'resetPassword' %}" method="post" id="login-form" name="login-form">

                                {% csrf_token %}

                                <div class="form-group" data-validate = "Password is required">
                                    <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                    <input type="password" name="pass" id="pass" placeholder="Password" onkeyup="passwordValidation(this)">   
                                </div>
                                <div class="form-group">
                                    <label for="confirmpassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                    <input type="password" name="repass" id="repass" placeholder="Repeat your password" onkeyup="cpasswordValidation(this)">
                                    <span class="new" id="repass" style="color: red;"> </span>  
                                </div>
                            


                                <div class="form-group form-button">
                                    <input type="submit" name="signin" id="signin" class="form-submit" value="Reset Password"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
